@font-face {
  font-family: "Charis SIL";
  src: local("Charis SIL Regular"),
       local("Charis SIL Cyr Regular"),
       url("CharisSILCyr-R.woff2") format("woff2"),
       url("CharisSILCyr-R.woff") format("woff"),
       url("CharisSILCyr-R.ttf") format("ttf");
}

@font-face {
  font-family: "Charis SIL";
  font-style: italic;
  src: local("Charis SIL Italic"),
       local("Charis SIL Cyr Italic"),
       url("CharisSILCyr-I.woff2") format("woff2"),
       url("CharisSILCyr-I.woff") format("woff"),
       url("CharisSILCyr-I.ttf") format("ttf");
}

@font-face {
  font-family: "Charis SIL";
  font-weight: bold;
  src: local("Charis SIL Bold"),
       local("Charis SIL Cyr Bold"),
       url("CharisSILCyr-B.woff2") format("woff2"),
       url("CharisSILCyr-B.woff") format("woff"),
       url("CharisSILCyr-B.ttf") format("ttf");
}

@font-face {
  font-family: "Charis SIL";
  font-weight: bold;
  font-style: italic;
  src: local("Charis SIL Bold Italic"),
       local("Charis SIL Cyr Bold Italic"),
       url("CharisSILCyr-BI.woff2") format("woff2"),
       url("CharisSILCyr-BI.woff") format("woff"),
       url("CharisSILCyr-BI.ttf") format("ttf");
}
